.black{
    background-color: black;
}

#board td{
    width: 64px;
    height: 64px;
    border: 1px black solid;
}
#board{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-spacing: 0;

}